NODE_ENV=development
PORT=3002 

# Database PostgreSQL (cho Sequelize)
DB_USER=postgres
DB_PASSWORD=12345678
DB_DATABASE=mintz_db
DB_HOST=localhost
DB_PORT=5432
DB_SSL=false 

# JWT
JWT_SECRET=YourSuperStrongAndVerySecretJWTKeyForHotelApp!@#
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_REFRESH_SECRET=YourSuper

# Logging
LOG_LEVEL=info
CORS_ORIGIN_FE=https://mintz-funi.vercel.app

#mail
EMAIL_USER=ngocanh.pham19042001@gmail.com
EMAIL_PASS=ybun vlfh jyqf tafy